apiVersion: v1
kind: ConfigMap
metadata:
  name: locustfile
  namespace: locust
data:
  locustfile.py: |
    from locust import HttpUser, task, between

    class LoadTest(HttpUser):
        wait_time = between(1, 2)

        @task
        def home(self):
            self.client.get("/")
